*{
    margin:0;
    padding:0;
}

.burger-img{
    height:25vh;
}
/* Header */
.header{
    text-align: center;
}

/* Burger */
.burgerBox{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.devoured-burgerCol{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.postBurger{
    width:50vw;
    border:solid;
    margin-top:5vh;
    margin-left:25vw;
    text-align:center;
}
